html{
    height: 100%;
}
body {
    background: linear-gradient(184DEG, #000000, #5A6479);
    BACKGROUND-REPEAT: NO-REPEAT;
}
.game__wrapper{
    margin-top: 100px;
    margin-bottom: 40px;
}
.cell{
    border: 1px solid #d9d9d9;
    width: 40px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: linear-gradient(45deg, #c3c3c3, #595959);
    color: #ffffff;
    text-shadow: 0px 6px 14px rgba(1, 1, 15, 1);
    border-radius: 3px;
    margin: 1px;

}
.popup{
    position: absolute;
    background: black;
    width: 500px;
    left: calc(50% - 250px);
    z-index: 1;
    text-align: center;
    color: white;
    padding: 32px;
    border-radius: 3px;
    height: auto;
}
.show{
    border: none;
    background: linear-gradient(#00ff0c,#1d4c1a);
    margin-top: 24px;
    padding: 8px 32px;
    display: inline-block;
    border-radius: 3px;
}
@media (max-width: 1199px) {
.cell{
    height: 80px;
}
}
@media (max-width: 991px) {
    .cell{
        height: 60px;
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .cell{
        height: 45px;
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .cell{
        height: 53px;
        font-size: 20px;
    }
    .popup{
        width: 100%;
        left: 0;
    }
}